<div class="jumbo bl-block bl-block-product bl-block-product-v2" id="bl_7" blocktype="product" width="100%" cellpadding="0" cellspacing="0" border="0"><div class="bl-block-toolbar-buttons Dir LanguageAlign bl-block-toolbar-item-hidden" id="toolbar_bl_7">
	<div id="bl-block-toolbar-drag" class="bl-block-toolbar-item toolbar-drag" style="left: 0px; top: 0px;"></div>
                                    
    </div>
    <div id="highlights_container" class="jumbo bl-block-content"  contenteditable="false">
    	<table id="highlights_container_table" cellpadding="0" cellspacing="0" border="0">
    		<tbody>
    			<tr>
    				<td class="bl-block-content-table bl-block-dir-rtl">
    					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bl-block-content-row bl-block-content-first-row bl-block-content-last-row" style="background-color: rgba(0, 0, 0, 0);">
    						<tbody>
    							<tr>
    								<td" class="bl-block-content-row-inner">
    									<table border="0" cellpadding="0" cellspacing="0" width="600" class="bl-block-columns-container">
    										<tbody>    
    											<tr>        
    												<td class="bl-block-content-column bl-3-columns bl-column-first bl-block-content-new-column" align="left" width="200">            
    													<table border="0" cellpadding="0" cellspacing="0" width="100%">                
    														<tbody>                    
    															<tr>                        
    																<td class="bl-padding-3-columns bl-content-wrapper">
    																	<table border="0" cellpadding="9" cellspacing="0" width="100%" class="bl-product-container bl-auto-align-container">
    																		<tbody>
    																			<tr>
    																				<td class="bl-block-content-item-td-titleContent" style="height: 45px;" height="45">
    																					<table border="0" cellpadding="0" cellspacing="0" width="100%">
    																						<tbody>
    																							<tr>
    																								<td class="bl-block-content-item-td-wrapper" style="height: 28px;" height="28">
    																									<div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-title" style="direction: rtl; text-align: right;">                                	
																											<div style="text-align: center;">
																												<span id="dues_title_edit" style="font-size:16px;"><a name="dues_title">
																													<% if @edit %>
																														<%= link_to @version.dues_title, "#", data: {:'editable-field' => 'true', mode: "inline", pk: "1", type: "text", name: "dues_title", url: modify_version_path(@version.id), title: "Update"} %>
																													<% else %>
																														<%= @version.dues_title %>
																													<% end %>

																												</a></span>
																											</div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
<tr align="center">
	<td align="center">
		<span class="badge" style="background-color: #E05B49  !important; color: #ffffff !important;text-shadow: 0 -1px 0 #000000 !important;"><%= @newsletter.dues.count %></span>																									
	</td>
</tr>																				
																				<tr>
																					<td class="bl-block-content-item-td bl-block-content-item-td-imageContent" height="137" style="height: 137px;">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td class="highlight_img bl-block-content-item-td-wrapper" style="height: 128px;" height="128">
																										<div class="bl-block-content-item bl-block-content-item-image" style="text-align: center;">
<%= link_to (image_tag "card-128.png"), "#dues" %>																									
																									</div>
																								</td>
																							</tr>
																						</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td class="bl-block-content-item-td bl-block-content-item-td-textContent" height="27" style="height: 27px;">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td class="bl-block-content-item-td-wrapper" style="height: 18px;" height="18">
																										<div class="bl-block-content-item bl-block-content-item-text" style="direction: rtl; text-align: right;"><div style="text-align: center;">
																											<a href="#dues" class="highlights_link" style="color: #0000ff;"><%= @newsletter.dues.count %>  חשבוניות לתשלום </a>&nbsp;
																										</div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>                                    
																	</td>                    
																</tr>                
															</tbody>            
														</table>        
													</td>        
													<td class="bl-block-content-column bl-3-columns bl-column-middle bl-block-content-new-column" align="left" width="200">            
														<table border="0" cellpadding="0" cellspacing="0" width="100%">                
															<tbody>                    
																<tr>                        
																	<td class="bl-padding-3-columns bl-content-wrapper">
																		<table border="0" cellpadding="9" cellspacing="0" width="100%" class="bl-product-container bl-auto-align-container">
																			<tbody>
																				<tr>
																					<td class="bl-block-content-item-td-titleContent" style="height: 45px;" height="45">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td class="bl-block-content-item-td-wrapper" style="height: 28px;" height="28">
																										<div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-title" style="direction: rtl; text-align: right;">
	
																											<div style="text-align: center;"><span id="notifications_title_edit" style="font-size:16px;"><a name="notifications_title">
																													<% if @edit %>
																														<%= link_to @version.notifications_title, "#", data: {:'editable-field' => 'true', mode: "inline", pk: "1", type: "text", name: "notifications_title", url: modify_version_path(@version.id), title: "Update"} %>
																													<% else %>
																														<%= @version.notifications_title %>
																													<% end %>
																												</a></span></div>
	
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
<tr align="center">
	<td align="center">
		<span class="badge" style="background-color: #45B39C  !important; color: #ffffff !important;"><%= @newsletter.notifications.count %></span>																																																				
	</td>
</tr>
																				<tr>
																					<td class="bl-block-content-item-td bl-block-content-item-td-imageContent" height="137" style="height: 137px;">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td class="highlight_img bl-block-content-item-td-wrapper" style="height: 128px;" height="128">
																										<div class="bl-block-content-item bl-block-content-item-image" style="text-align: center;">
<%= link_to (image_tag "check_list-128.png"), "#notifications" %>																										
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td class="bl-block-content-item-td bl-block-content-item-td-textContent" height="27" style="height: 27px;"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td class="bl-block-content-item-td-wrapper" style="height: 18px;"  height="18"><div class="bl-block-content-item bl-block-content-item-text cke_editable_inline cke_contents_rtl" spellcheck="true" role="textbox" aria-label="עורך טקסט עשיר, editor4" aria-describedby="cke_210" style="direction: rtl; text-align: right;">
																						<div style="text-align: center;">
																							<a href="#notifications" class="highlights_link" style="color: #0000ff;">
																								<%= @newsletter.notifications.count %> מסמכים חדשים
																							 </a>
																							
																						</div>
</div></td></tr></tbody></table></td></tr></tbody></table>                                    </td>                    </tr>                </tbody>            </table>        </td>        <td class="bl-block-content-column bl-3-columns bl-column-last bl-block-content-new-column" align="left"  width="200">            <table border="0" cellpadding="0" cellspacing="0" width="100%">                <tbody>                    <tr>                        <td class="bl-padding-3-columns bl-content-wrapper"><table border="0" cellpadding="9" cellspacing="0" width="100%" class="bl-product-container bl-auto-align-container"><tbody><tr><td  class="bl-block-content-item-td-titleContent" height="45" style="height: 45px;"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td class="bl-block-content-item-td-wrapper" style="height: 28px;"  height="28"><div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-title" style="direction: rtl; text-align: right;">
	
<div style="text-align: center;"><span id="reminders_title_edit" style="font-size:16px;"><a name="reminders_title">
	<% if @edit %>
		<%= link_to @version.reminders_title, "#", class: 'titles', data: {:'editable-field' => 'true', mode: "inline", pk: "1", type: "text", name: "reminders_title", url: modify_version_path(@version.id), title: "Update"} %>
	<% else %>
		<%= @version.reminders_title %>
	<% end %>
	</a></span></div>

</div></td></tr></tbody></table></td></tr>
<tr align="center">
	<td align="center">
		<span class="badge" style="background-color: #F39C12  !important; color: #ffffff !important;"><%= @newsletter.reminders.count %></span>																									
	</td>
</tr>
<tr><td  class="bl-block-content-item-td bl-block-content-item-td-imageContent" height="137" style="height: 137px;"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td class="highlight_img bl-block-content-item-td-wrapper" style="height: 128px;"  height="128"><div class="bl-block-content-item bl-block-content-item-image" style="text-align: center;">
	
<%= link_to (image_tag "bulb-128.png"), "#reminders" %>
	
	</div></td></tr></tbody></table></td></tr><tr><td  class="bl-block-content-item-td bl-block-content-item-td-textContent" height="27" style="height: 27px;"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td class="bl-block-content-item-td-wrapper" style="height: 18px;"  height="18"><div class="bl-block-content-item bl-block-content-item-text" style="direction: rtl; text-align: right;"><div style="text-align: center;"><a href="#reminders" class="highlights_link" style="color: #0000ff;"><%= @newsletter.reminders.count %> תזכורות והודעות</a></div>
</div></td></tr></tbody></table></td></tr></tbody></table>                        </td>                    </tr>                </tbody>            </table>        </td>    </tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div>
</div>
