<tbody>

  <tr height = "42" class="notification_background" id="notification_background" bgcolor="#FFFFFF">
    <td>
    	<% if notification.supplier %>
	    	<% if !notification.supplier.logo.blank? %>
	    		<%= image_tag notification.supplier.logo, class: 'sup_logo', size: "42x42", style: "width: 42px !important; height: 42px !important" %>
	    	<% else %>	
	    		<%= notification.supplier.name %>
			<% end %>
		<% end %>
	</td>
    <td><%= l notification.bill.issue_date if notification.bill.issue_date %></td>
    <td class="amount"><%= number_to_currency notification.bill.amount %></td>
	<td><%= number_to_currency notification.prev_bill_amt %></td>
	<td>
		<% if notification.bill.view_url.present? %>
			<%= link_to "צפה", notification.bill.view_url, class: "activities highlights_link", target: "_blank" %>
		<% end %>
	</td>
	<td><%= number_to_currency notification.charges.exception.sum(:amount) %></td>
	<td>
		<% if notification.charges.exception.count(:amount) > 0 %>
			<%= image_tag "question-16.png", class: "status_icon" %>
		<% else %>
			<%= image_tag "checked-16.png", class: "status_icon" %>
		<% end %>
	</td>
	  <% if @control %>	
	  	<td class="control">
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              customer_newsletter_bill_path(@customer, @newsletter, notification.bill, section: params[:section]),
		              :method => :delete,
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-mini btn-danger' %>
	  	</td>
	  	<td class="control">
	  		<%= link_to "Edit", edit_customer_newsletter_bill_path(@customer, @newsletter, notification.bill, section: params[:section]), class: 'btn btn-mini' %>
  		</td>
  		<td dir="ltr" class="control">
  			<%= link_to "+ Line", new_customer_newsletter_notification_line_path(@customer, @newsletter, notification, section: params[:section]), class: 'btn btn-mini' %>
		</td>
		<td dir="ltr" class="leftmost">
  			<%= link_to "+ Charge", new_customer_newsletter_notification_charge_path(@customer, @newsletter, notification, section: params[:section]), class: 'btn btn-mini' %>
		</td>
	  <% end %>
  </tr>

  <% notification.charges.order(created_at: :asc).each do |charge| %>
  	<tr height="42" class="detail_line">
	  	<td>
	  		<% if charge.status and charge.exception? %>
	  			<%= image_tag 'question-16.png' %>
  			<% elsif charge.status and charge.ok? %>
  				<%= image_tag 'checked-16.png' %>
			<% end %>
	  	</td>
	  	<td><%= charge.service.name if charge.service %></td>
	  	<td><%= number_to_currency charge.amount if charge.amount %></td>
	  	<td><%= charge.comment.name %></td>
	  	<td></td>
	  	<td></td>
	  	<td></td>	  	
	  	<% if @control %>
	  		<td>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	          customer_newsletter_notification_charge_path(@customer, @newsletter, notification, charge, section: params[:section]),
	          :method => :delete,
	          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	          :class => 'btn btn-mini btn-danger' %>
	  		</td>
	  		<td>
	  			<%= link_to "Edit", edit_customer_newsletter_notification_charge_path(@customer, @newsletter, notification, charge, section: params[:section]), class: 'btn btn-mini' %>	  			
	  		</td>
	  		<td></td>
		<% end %>
  	</tr>
  <% end %>

  <% notification.lines.order(created_at: :asc).each do |line| %>
  	<tr height="42" class="detail_line">
	  	<td><%= image_tag "detail-16.png" %></td>
	  	<td><%= line.part1 %></td>
	  	<td><%= line.part2 %></td>
	  	<td><%= line.part3 %></td>
	  	<td><%= line.part4 %></td>
	  	<td><%= line.part5 %></td>
	  	<td></td>
	  	<% if @control %>
	  		<td>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	          customer_newsletter_notification_line_path(@customer, @newsletter, notification, line, section: params[:section]),
	          :method => :delete,
	          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	          :class => 'btn btn-mini btn-danger' %>
	  		</td>
	  		<td>
	  			<%= link_to "Edit", edit_customer_newsletter_notification_line_path(@customer, @newsletter, notification, line, section: params[:section]), class: 'btn btn-mini' %>	  			
	  		</td>
		<% end %>
  	</tr>
  <% end %>
	
</tbody>