<div class="panel panel-default">
  <!-- Default panel contents -->
 	<table>
			<tr class="section_title panel-heading panel-primary dues-panel" style="padding: 10px 15px !important; background-color: #D2DE7D !important; background-image: linear-gradient(to bottom, #F4F7DF 0%, #D2DE7D 100%) !important;" bgcolor="#D2DE7D">
				<th width="<%= @control ? "187" : "150"%>" class="td_right" style="width: 150px !important; text-align: right">
					<%= image_tag "check_list-128.png", class: "section_title_logo section_title_element", size: "48x48", style: "margin: 0 30px !important;" %>
				</th>
				<th  width="<%= @control ? "375" : "300"%>">
 					<a data-anchor="notifications" name="notifications" class="section_title_name", style="width: 300px !important; text-decoration: none;">
  						<%= @version.notifications_title %>
  					</a>
			  	</th>
			  	<th width="<%= @control ? "188" : "150"%>" class="td_left" style="width: 150px !important; text-align: left">
			  		<% if @control %> 			
						<span class="section_title_element" style="margin: 0 30px !important;"></span>
			  		<% else %>
			  			<span class="section_title_element" style="margin: 0 30px !important;"><%= link_to "חזור", "#notifications_title", class: 'back_link' %></span>
					<% end %>
		  		</th>
	  		</tr>			  		
	</table>
  <div class="panel-body">
    <p>
		<% if @edit %>
			<%= link_to @version.notifications_sentence, "#", data: {:'editable-field' => 'true', pk: "1", type: "text", name: "notifications_sentence", url: modify_version_path(@version.id), title: "Update"} %>
		<% else %>
			<%= @newsletter.notifications_sentence_or_none %>
		<% end %>    	
	</p>
  </div>

  <!-- Table -->
  <% if @newsletter.notifications.any? %>

  <table id="bills" class="data table" cellspacing="0">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>חיוב קודם</th>
            <th>פעולות</th>
            <th>חריגים</th>
            <th></th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        	<% @newsletter.notifications.includes(:bill, :supplier, :lines, :charges).order(created_at: :asc).each do |notification| %>
        		<% next unless notification.bill %>
				<%= render 'notifications_panel_charge', notification: notification %>
			<% end %>
  </table>
  <% end %>
</div>