<tr id="feature_line" height="42">
	<td><%= feature.name %></td>
	<td class="curr_plan_background" id="curr_plan_background" bgcolor="#dddddd" style="background-color: #dddddd;"><%= feature.current %></td>
	<td class="recc_plan_background" id="recc_plan_background" bgcolor="#F7B547" style="background-color: #F7B547; color: #FFFFFF !important;"><%= feature.recommended %></td>
	<% if plan.other? %>
	<td class="othr_plan_background" id="othr_plan_background" bgcolor="#dddddd" style="background-color: #dddddd; color: #000000 !important;"><%= feature.other %></td>
	<% end %>
	<% if @control %>
	  	<td class="control">
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              customer_newsletter_plan_feature_path(@customer, @newsletter, plan, feature),
		              :method => :delete,
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-mini btn-danger' %>
	  	</td>
	  	<td class="control">
	  		<%= link_to "Edit", edit_customer_newsletter_plan_feature_path(@customer, @newsletter, plan, feature), class: 'btn btn-mini' %>
  		</td>
  		<td class="control">
		</td>	
	<% end %>
</tr>
