<div class="panel panel-default">
  <!-- Default panel contents -->
 	<table class="section_title">		<tbody>
			<tr class="section_title panel-heading panel-primary dues-panel" style="padding: 10px 15px !important; background-color: #D2DE7D !important; background-image: linear-gradient(to bottom, #F4F7DF 0%, #D2DE7D 100%) !important;" bgcolor="#D2DE7D">
				<th width="<%= @control ? "187" : "150"%>" class="td_right" style="width: 150px !important; text-align: right">
					<%= image_tag "bulb-128.png", class: "section_title_logo section_title_element", size: "48x48", style: "margin: 0 30px !important;" %>
				</th>
				<th width="<%= @control ? "375" : "300"%>">
  					<a data-anchor="reminders" name="reminders" class="section_title_name", style="width: 300px !important; text-decoration: none;">
  						<%= @version.reminders_title %>	
  					</a>
			  	</th>
			  	<th width="<%= @control ? "187" : "150"%>" class="td_left" style="width: 150px !important; text-align: left">
			  		<% if @control %>
						<span class="section_title_element" style="margin: 0 30px !important;"><%= link_to 'Add Reminder', new_customer_newsletter_reminder_path(@customer, @newsletter), class: 'btn btn-mini' %></span>
					<% else %>
			  			<span class="section_title_element" style="margin: 0 30px !important;"><%= link_to "חזור", "#reminders_title", class: 'back_link' %></span>
					<% end %>
		  		</th>
	  		</tr>			  				</tbody>
	</table>
  <div class="panel-body">
    <p>
		<% if @edit %>
			<%= link_to @version.reminders_sentence, "#", data: {:'editable-field' => 'true', pk: "1", type: "text", name: "reminders_sentence", url: modify_version_path(@version.id), title: "Update"} %>
		<% else %>
			<%= @newsletter.reminders_sentence_or_none %>
		<% end %>    	
    	
	</p>
  </div>

  <!-- Table -->
  <table class="data table"  cellspacing="0">	
        <thead>
          <tr>
            <th></th>
            <% if @control %>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.reminders.order(created_at: :asc).each do |reminder| %>
				<%= render 'reminders_panel_reminder', reminder: reminder %>
			<% end %>
        </tbody>
  </table>
</div>