<%= simple_form_for @newsletter, :html => { :class => 'form-horizontal newsletter_form' }, defaults: {disabled: disabled} do |f| %>
  	<% name = params[:customer_id] ? @newsletter.customer.first_name + ' ' + @newsletter.customer.last_name : ' ' %>
  	<%= f.input :customer_id, as: :string, disabled: true, input_html: { value: name, title: @newsletter.customer.id } %>
  	<%= f.input :version_id, as: :string, value_method: :id, label_method: :id, disabled: true %>
  	<%= f.input :locale_description, label: "Locale", disabled: true %>
  	<%= f.input :id, as: :string, label: "Newsletter" %>
  	<%= f.input :sent_at, as: :string, disabled: true %>
		
  	<div class="form-actions">
		<% if @newsletter.version.approved? %>
    		<%= link_to "Send Newsletter", deliver_newsletter_path(@newsletter.id), :class => 'btn btn-primary' %>
    	<% else %>
    		<%= link_to "Send Newsletter", deliver_newsletter_path(@newsletter.id), confirm: "Version #{@newsletter.version_id} has really not been approved. Are you sure you want to send newsletter?", :class => 'btn btn-primary' %>
    	<% end %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  	</div>
<% end %>
<script>
	
$(document).ready(function() {
	
// not working for some reason	align_val(<%= @newsletter.customer.locale_id %>)

	function refresh_sample() {
		var version_id = 	$('#newsletter_version_id').val()
		var newsletter_id = $('#newsletter_id').val()
		$.ajax({
	  		url: "<%= user_mailer_weekly_url %>",
	  		data: "version_id=" + version_id + "&newsletter_id=" + newsletter_id,
	  		success: function(result) {
	  			$('#sample').html(result);
	  	}});		
	}
	
	refresh_sample();

	$('.newsletter_form input').blur(function() {
		var field = 	$(this).attr('name').split('[')[1].split(']')[0]
		var value = 	$(this).val()
		$.ajax({
	  		type: 'PUT',
	  		url: "<%= newsletter_path(@newsletter)  %>",
	  		data: field + '=' + value,
	  		success: refresh_sample()
	  	});
	})
	
})	
	
</script>
