<div class="page-header">
	<h1>Alpha Providers</h1>
</div>

<table id="alpha_table">
  <thead>
    <tr>
      <th>Alpha Id</th>
      <th>ProviderCategory</th>
      <th>ProviderExtraName</th>
      <th>ProviderName</th>
      <th>ProviderNumber</th>
      <th>ProviderLink</th>
      <th>ProviderPayText</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alpha_providers.each do |alpha_provider| %>
      <tr>
        <td><%= alpha_provider.Id %></td>
        <td><%= alpha_provider.ProviderCategory %></td>
        <td><%= alpha_provider.ProviderExtraName %></td>
        <td><%= alpha_provider.ProviderName %></td>
        <td><%= alpha_provider.ProviderNumber %></td>
        <td><%= alpha_provider.ProviderLink %></td>
        <td><%= alpha_provider.ProviderPayText %></td>
       <td><%= link_to 'Edit', edit_alpha_provider_path(alpha_provider), class: "pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>