<% unless params[:section] %>

	<%- model_class = Bill -%>
	<div class="page-header">
	  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
	</div>
	<table id="bills_table" class="table table-striped">
	  <thead>
	    <tr>
	      <th>Bill#</th>
	      <th>Alpha Id</th>
	      <th>Issue Date</th>
	      <th>Number</th>
	      <th><%= model_class.human_attribute_name(:supplier_id) %></th>
	      <th></th>
	      <th><%= model_class.human_attribute_name(:amount) %></th>
	      <th>From</th>
	      <th>To</th>
		  <th>Due Date</th>
	      <th>Paid?</th>
      	  <th>Pay</th>
	      <th>Mark Paid</th>
	      <th>View</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @customer.bills.order(created_at: :desc).each do |bill| %>
	      <tr>
	        <td><%= bill.id %></td>
	        <td><%= bill.alpha_id %></td>
	        <td dir="rtl"><%= l bill.issue_date, format: :short if bill.issue_date %></td>
	        <td><%= bill.invoice_id %></td>
	        <td>
	        	<% if bill.supplier.present? %>
	        		<% supplier = bill.supplier %>
        			<% if supplier.name %>
        				<%= supplier.name %>
    				<% else %>
    					<%= supplier.id %>
					<% end %>
				<% else %>
					<%= bill.provider_name %>
					<% issue = true %>
				<% end %>
			</td>
	        <td>
	        	<% if issue %>
	        		<%= image_tag "warning.png", class: "status_icon", title: "Click Edit and associate bill with supplier" %>
	        	<% end %>
	        </td>
	        <td dir="rtl"><%= number_to_currency bill.amount %></td>
	        <td dir="rtl"><%= l bill.invoice_period_from, format: :short if bill.invoice_period_from %></td>
	        <td dir="rtl"><%= l bill.invoice_period_to, format: :short if bill.invoice_period_to %></td>
	        <td dir="rtl"><%=l bill.due_date, format: :short if bill.due_date %></td>
	        <td><%= bill.paid %></td>
	        <td><%= link_to "Pay", bill.payment_url, target: "_blank" if bill.payment_url.present? %></td>
	        <td><%= link_to "Mark", bill.paid_url, target: "_blank"  if bill.paid_url.present? %></td>
	        <td><%= link_to "View", bill.view_url, target: "_blank"  if bill.view_url.present? %></td>
	        <td>
	          <%= link_to t('.edit', :default => t("helpers.links.edit")),
	                      edit_customer_bill_path(@customer, bill) %>
	        </td>
	      </tr>
    	<% end %>
	  </tbody>
	</table>

<% end %>
<script type="text/javascript" data-turbolinks-eval=false>
	
$(document).ready(function() {

<% if params[:section] %>

		$.ajax({
	  		url: "<%= user_mailer_weekly_url %>",
	  		data: "customer_id=" + <%= @customer.id %> + "&newsletter_id=" + "<%= @newsletter.id %>" + "&section=<%= params[:section] %>" + "&control=yes",
	  		success: function(result) {
	  			$('#sample').html(result);
	  	}});		


<% else %>

		$('#backoffice div#menu #bills_table').parent().attr('class', 'span12')
		$('#backoffice #menu .alert.alert-success').css('width', '100%')

<% end %>	

})	
</script>