  <tr class="notification_background">
    <td><%= image_tag 'yes.png', class: 'sup_logo' %></td>
    <td><%= l Date.today, format: :short %></td>
    <td class="amount"><%= number_to_currency 100 %></td>
    <td>מסמך חדש</td>
    <td><%= image_tag 'ok.png', class: 'status_logo' %></td>
  </tr>
  <tr>
  	<td>נסרק ואורכב בתאריך:</td>
  	<td><%= l Date.today, format: :short %></td>
  	<td></td>
  	<td></td>
  	<td></td>
  </tr>
