<div id="billbeez">

	<%= render 'top_wrap' %>
	
	<%= render 'header' %>														
	                                
	
	<%= render 'findings' %>

	<%= render 'highlights' %>
	
	<%= render 'bills' %>
	
	<%= render 'notifications' %>
	
	<%= render 'reminders' %>

	<%= render 'recommendations' %>
				
		</td>	
	</tr>
	<tr>													
		<!-- END Blocks Zone -->

	<%= render 'footer' %>
	
	<%= render 'bottom_wrap' %>
		
</div>