<%- model_class = Version -%>
<div class="page-header">
  <h1>
  	<%= "Campaign #{@campaign.id} " if @campaign and @campaign.id %>
  	<%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
	  <th>Campaign</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Locale</th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th>Approved by </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @versions.order(updated_at: :desc).each do |version| %>
      <tr>
		<td><%= version.campaign_id %></td>
        <td><%= link_to version.id, version_path(version) %></td>
		<td><%= version.locale.description if version.locale_id%></td>
         <td dir="rtl"><%=l version.updated_at, format: :short %></td>
		 <td><%= version.user.email if version.user_id %> </td>
       <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_version_path(version), :class => 'btn btn-mini' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @available_locales.count > 0 %>
	<%= link_to  t('.new', :default => t("helpers.links.new")),
	            new_campaign_version_path(@campaign),
	            :class => 'btn btn-primary' %>
<% end %>
