<div class="page-header">
	<h1>Alpha Bills</h1>
</div>

<table id="alpha_table">
  <thead>
    <tr>
      <th>Alpha Id</th>
      <th>InvoiceDate</th>
      <th>Number</th>
      <th>Provider</th>
      <th>Amount</th>
      <th>From</th>
      <th>To</th>
      <th>Paydate</th>
      <th>Paid</th>
      <th>Location</th>
      <th>Uploaded</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alpha_bills.each do |alpha_bill| %>
      <tr>
        <td><%= alpha_bill.Id %></td>
        <td><%= l alpha_bill.InvoiceDate, format: :short if alpha_bill.InvoiceDate %></td>
        <td><%= alpha_bill.InvoiceNumber %></td>
        <td><%= alpha_bill.providername %></td>
        <td><%= number_to_currency alpha_bill.Amount %></td>
        <td><%= l alpha_bill.InvoicePeriodFrom, format: :short if alpha_bill.InvoicePeriodFrom %></td>
        <td><%= l alpha_bill.InvoicePeriodTo, format: :short if alpha_bill.InvoicePeriodTo %></td>
        <td><%= l alpha_bill.PayDate, format: :short if alpha_bill.PayDate %></td>
        <td><%= alpha_bill.IsPaid %></td>
        <td><%= link_to "View", alpha_bill.fileLocation1, target: "_blank" %></td>
        <td><%= l alpha_bill.UploadDate, format: :short if alpha_bill.UploadDate %></td>
     <td><%= alpha_bill.Remark %></td>
       <td><%= link_to 'Edit', edit_alpha_bill_path(alpha_bill), class: "pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_alpha_bill_path %>
