<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @alpha_bill.Id %>
</p>

<p>
  <strong>Providername:</strong>
  <%= @alpha_bill.providername %>
</p>

<p>
  <strong>Filelocation1:</strong>
  <%= @alpha_bill.fileLocation1 %>
</p>

<p>
  <strong>Isshown:</strong>
  <%= @alpha_bill.IsShown %>
</p>

<p>
  <strong>Uploaddate:</strong>
  <%= @alpha_bill.UploadDate %>
</p>

<p>
  <strong>Ispaid:</strong>
  <%= @alpha_bill.IsPaid %>
</p>

<p>
  <strong>Invoicenumber:</strong>
  <%= @alpha_bill.InvoiceNumber %>
</p>

<p>
  <strong>Invoiceperiodfrom:</strong>
  <%= @alpha_bill.InvoicePeriodFrom %>
</p>

<p>
  <strong>Invoiceperiodto:</strong>
  <%= @alpha_bill.InvoicePeriodTo %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @alpha_bill.Amount %>
</p>

<p>
  <strong>Paydate:</strong>
  <%= @alpha_bill.PayDate %>
</p>

<p>
  <strong>Filelocation2:</strong>
  <%= @alpha_bill.fileLocation2 %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @alpha_bill.Remark %>
</p>

<p>
  <strong>Remainderid:</strong>
  <%= @alpha_bill.RemainderID %>
</p>

<p>
  <strong>Paynumber:</strong>
  <%= @alpha_bill.PayNumber %>
</p>

<p>
  <strong>Invoicedate:</strong>
  <%= @alpha_bill.InvoiceDate %>
</p>

<p>
  <strong>Filelocation3:</strong>
  <%= @alpha_bill.fileLocation3 %>
</p>

<p>
  <strong>Filelocation4:</strong>
  <%= @alpha_bill.fileLocation4 %>
</p>

<%= link_to 'Edit', edit_alpha_bill_path(@alpha_bill) %> |
<%= link_to 'Back', alpha_bills_path %>
