<%- model_class = Campaign -%>
<div class="page-header clearfix">
  <span class="pull-left">
  	<h1 id="campaigns"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </span>
  <span class="pull-right">
  	<%= link_to "Create a new campaign", new_campaign_path, :class => 'btn btn-success', id: "campaign_button" %>  	
  </span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Activities up to</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.order(created_at: :desc).each do |campaign| %>
      <tr>
        <td><%= link_to campaign.id, campaign_path(campaign) %></td>
        <td dir="rtl"><%=l campaign.created_at, format: :short %></td>
        <td dir="rtl"><%= l campaign.activity_to, format: :short if campaign.activity_to %></td>
        <td>
          <%= link_to "Versions",
                      campaign_versions_path(campaign), :class => 'btn btn-mini' %>
          <%= link_to "Newsletters",
                      campaign_newsletters_path(campaign), :class => 'btn btn-mini' %>
          <%= link_to "Edit",
                      edit_campaign_path(campaign), :class => 'btn btn-mini' %>
<!--
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      campaign_path(campaign),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>