<%= simple_form_for @supplier, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :alpha_id %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :payment_url %>
  <%= f.input :category %>
  <%= f.input :extra_name %>
  <%= f.input :number %>
  <%= f.input :payment_text %>
  <%= f.input :logo %>
  <%= f.input :alpha_logo %>
   <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div>
<% end %>
