<%= simple_form_for @feature, url: customer_newsletter_plan_feature_path(@customer, @newsletter, @plan, @feature), :html => {:class => 'form-horizontal' }   do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"> 		
	<%= f.input :name, required: true, placeholder: "Feature name" %>
	<%= f.input :current, required: true, placeholder: "Current plan value" %>
	<%= f.input :recommended, required: true, placeholder: "Recommended plan value" %>
	<%= f.input :other, placeholder: "Other plan value" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script>
	$(document).ready(function() {	
		align_val(<%= @newsletter.version.locale_id %>)
	})
</script>
