<%= simple_form_for @charge, url: customer_newsletter_notification_charge_path(@customer, @newsletter, @notification, @charge), :html => {:class => 'form-horizontal' }   do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"> 		
	<%= f.input :amount, as: :decimal, required: true, placeholder: "Charge amount" %>
	<%= f.association :service, label: "Existing service", placeholder: "select an already defined service", include_blank: true %>
	<%= f.input :new_service, placeholder: "Define a new service now" %>
	<%= f.association :comment, label: "Existing comment", placeholder: "select an already defined comment", include_blank: false %>
	<%= f.input :new_comment, placeholder: "Define a new comment now" %>
	<%= f.input :status, collection: Charge.statuses, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script>
	$(document).ready(function() {	
		align_val(<%= @newsletter.version.locale_id %>)
	})
</script>
